NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
GHL_API_KEY=pit-a5fb6a9f-8524-4fb6-9ca3-f926a29b2b34
GHL_LOCATION_ID=3MQViP1N5cHuEdbyYjis
GHL_PIPELINE_ID=AbseZ8fYWyr7lC8tK3Nf
GHL_WEBHOOK_SECRET=
ANTHROPIC_API_KEY=
WINDSOR_API_KEY=c280dac473dc0594fc0d62f0a6e8e49a8d73
CALENDLY_API_KEY=
CALENDLY_USER_UUID=aeae0f70-bcd9-46bd-a64b-280970c61e79
CALENDLY_WEBHOOK_SECRET=
CRON_SECRET=
BACKFILL_START_DATE=2026-01-01
LTV_VALUE=9187
MONTHLY_RETAINER=3000
ADMIN_EMAIL=
HYROS_API_KEY=API_57bf45992278c843406c48b0be2690d7fcf22cd3230b9f8808deef8d199b4fff
